
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
    <h2>Editar</h2>

    <form>
        <div>
            <h3>Informe seus dados:</h3>
            <h4>
                Usuário:
                <div><input type="text" name="Usuário" size="20" /></div>
            </h4>
            <h4>
                Senha:
                <div><input type="password" name="Senha" size="20" /></div>
            </h4>
            <h4>
                Nova Senha:
                <div><input type="password" name="Senha" size="20" /></div>
            </h4>

            <div style="font-size:15xp">
                <button><a style="color:black" href="/Windows/Principal/">Alterar</a></button>
                <button><a style="color:black" href="/Home/Edit/">Cancelar</a></button>
            </div>

            <br /><br />

            <div style="font-size:20px">
                <p>Para modificar outros tipos de dados, favor entrar em contato com a central.</p>
                <p>Service Help Desk agradece, Obrigado!</p>
            </div>
        </div>
        <div>
            @*<h3>Faça sua alteração:</h3>
            <h3>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="Usuario">
                        <button>Usuário</button>
                        <span class="caption"></span>
                    </a>
                    <ul class="dropdown-menu">

                        Usuário Antigo:
                        <input type="text" name="Usuário" />
                        Novo Usuário:
                        <Input type="text" name="Senha" />
                        <h5>
                            <button><a href="/Windows/Principal" name="Alterar">Alterar</a></button>
                            <button><a href="/Home/Edit" name="Cancelar">Cancelar</a></button>
                        </h5>
                </li>

            </h3>
            <h3>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="Senha">
                        <button>Senha</button>
                        <span class="caption"></span>
                    </a>
                    <ul class="dropdown-menu">

                        Senha:
                        <input type="text" name="Senha" />
                        Nova Senha:
                        <Input type="password" name="Senha" />
                        Confirme Nova Senha:
                        <Input type="password" name="Nova_Senha" />
                        <h5>
                            <button><a href="/Windows/Principal" name="Alterar">Alterar</a></button>
                            <button><a href="/Home/Edit" name="Cancelar">Cancelar</a></button>
                        </h5>
                </li>
            </h3>
        </div>
        <br /><br />
        <h3>Para modificar outros tipos de dados, favor entrar em contato com a central.</h3>
        <h3>Service Help Desk agradece, Obrigado!</h3>
</div>*@



@* Para utilizar de forma diferente a tela de alteração
    sendo ela mais simples, ativar o código abaixo.*@
@*<div>
        <h3>Para Editar seus dados preencha os campos abaixo:</h3>
        <h4>Usuário: <input type="text" name="Edit_Usu" size="20" /></h4>
        <h4>Nova Senha: <input type="password" name="Edit_Pass" size="20" /></h4>
        <h4>Confirme a Nova Senha: <input type="password" name="Edit_New_Pass" size="20" /></h4>
    </div>*@
@*<div>
            <h4>
                <button><a href="/Windows/Principal">Alterar</a></button>
                <button><a href="/Home/Edit">Cancelar</a></button>
            </h4>
        </div>
    </form>*@