@model Library.Class.Models.Usuarios
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        @*<h2>HelpDesk DeskTop</h2>*@
    </div>
    <div class='row'>
        <div class='col-md-11'>
            <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                    <div class="item  active">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://localhost/UI.Web/Content/Image/img1.png"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://localhost/UI.Web/Content/Image/img2.png"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                            <div class="col-md-4">
                                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>
        </div>
    </div>
</div>
<br /><br />
<br /><br />
<div class="row background">
    <div class="col-md-4">
        <h2>Bem vindo!</h2>
        <p> Bem vindo ao sistem de chamados Help Desk. </p>
        <p> Para acessar seus chamdados, utilize o login no menu acima </p>

        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Historio de chamados</h2>
        <p>
            Pesquise seus chamados pelo número, através da caixa texto.
        </p>
        <p></p>
        <p></p>
        <p>Todos os chamdados possuem um prazo de atendimento que você encontrará com a sigla SLA (Service Level Agreement) ou ANS (Acordo de Nível de Serviço). Explore e verifique o prazo dos seus atendimentos.</p>

        <p><a class="btn btn-default" href="~/Windows/Chamado">Chamados &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suporte</h2>
        <p>Nesse sitema de suporte, os analistas são treinados para resolver o seu problema no menor tempo possível. Sempre será um prazer atender você..</p>
        <p><a class="btn btn-default" href="~/Windows/Contact">Suporte &raquo;</a></p>
    </div>
</div>
