@model UI.Web.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3>@Model.nome</h3>*@
<div style="color:black">
    <h2>Login</h2>

    <br />
    <form>
        <div>
            <h4>
                Usuário:&ensp; <input type="text" name="Usuário" size="60" />
            </h4>
            <h4>Senha:&emsp; <input type="password" name="Senha" size="60" /></h4>
            <button><a href="/Windows/Principal">Entrar</a></button>
        </div>

        <h5>Ainda não tem cadastro?&ensp;<a href="/Home/Register" id="click">Cadastrar</a></h5>
    </form>
</div>
