@model IEnumerable<Library.Class.Models.Chamados>

@using GridMvc.Html

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.CodigoChamado).Titled("Scheme ID").Filterable(true);
                        columns.Add(c => c.Descricao).Titled("SchemeName").Filterable(true);
                        columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.CodigoChamado }));

                    }).WithPaging(10).Sortable(true)
</div>  

<div class="col-md-6">
    <div class="form-group row">
        @*<div class="col-md-2">
            <input type="submit" id="btnLogar" value="Cadastrar usuário" class="btn btn-primary" />
        </div>*@
        <div class="col-lg-6">
            <br /><br />
            <p><a href="~/Windows/FAQ" class="btn btn-primary btn-info">Abrir chamado &raquo;</a></p>
        </div>
    </div>
</div>