
@{
    ViewBag.Title = "Conclusao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
    <h2>Conclusão</h2>

    <br />
    <h3>Seu Pré Chamado foi efetuado com sucesso!</h3>
    <h4>Em um prazo de 24 horas um de nossos atendentes entrará em contato com você.</h4><br />
    <h4>Obrigado por escolher a Service Help Desk!</h4>
</div>
