
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color:black">
    <h2>FAQ</h2>

    <h3>Indique seu equipamento e responda abaixo as perguntas para resolver seus problemas:</h3>
    <br />
    <h4>
        Equipamento: <input type="text" name="Equip." /> 
        Problema: @*<input type="text" name="Marca" size="60" />*@
        <select>
            <option value="Selecione">Selecione:</option>
            <option value="Tela">Problema com Tela</option>
            <option value="CPU">Problema com CPU</option>
            <option value="conexões">Problema com Conexões</option>
            <option value="outros">Outros</option>
        </select>
    </h4>


    @* Exemplo de bordas quadradas *@
    @*<div style="border: 1px solid #0094ff;">
            <h4>Seu equipamento se encontra ligado em uma tomada de energia?</h4>
            <h4>
                Sim<input type="checkbox" name="Sim" />
                Não<input type="checkbox" name="Não" />
            </h4>
        </div><br />*@


    <style type="text/css">
        #div1 {
            aa width: 100px;
            height: 100px;
            border: solid 1px;
            border-radius: 20px;
            1px solid #0094ff;
            border-color: #0094ff;
        }
    </style>
    <div id="div1" />
    <h4>Seu equipamento se encontra ligado em uma tomada de energia?</h4>
    <h4>
        Sim&ensp;<input type="radio" name="Alt" />&emsp;
        Não&ensp;<input type="radio" name="Alt" />
    </h4>
    </div>
    <br />


    <div id="div1" />
    <h4>Seu equipamento não liga? Tente retirar da tomada, espere alguns segundo e coloque novamente.</h4>
    <h4>
        Sim&ensp;<input type="radio" name="Alt" />&emsp;
        Não&ensp;<input type="radio" name="Alt" />
    </h4>
    </div>
    <br />

    <div id="div1" />
    <h4>Seu sistema operacional está sendo iniciado?</h4>
    <h4>
        Sim&ensp;<input type="radio" name="Alt" />&emsp;
        Não&ensp;<input type="radio" name="Alt" />
    </h4>
    </div>
    <br />

    <div id="div1" />
    <h4>Seu equipamento acende as luzes ao iniciar?</h4>
    <h4>
        Sim&ensp;<input type="radio" name="Alt" />&emsp;
        Não&ensp;<input type="radio" name="Alt" />
    </h4>
    </div>
    <br />

    <h3>Resolveu seu problema?</h3>
    <button><a href="/Windows/Principal">Sim</a></button>
    <button><a href="/Windows/Pre_Chamado">Não</a></button>
    <br />
    
</div>