
@model Library.Class.Models.Chamados

@using MyBS = UI.Web.Models.ClassBootStrep;

@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>FAQ</h2>

<div class="row">
    <div class="form-group">

        <h3>Indique seu equipamento e responda abaixo as perguntas para resolver seus problemas:</h3>
        <br />

        <div class="col-md-6">
            <label id="lblEquipamento">Equipamento</label>
            @Html.DropDownListFor(model => model.Produto, ViewBag.Produto as SelectList, new { @class = "chosen-select form-control" })
            <br />
        </div>

        <div class="col-md-6">
            <label id="lblProblema">Problema</label>

            @Html.DropDownListFor(model => model.TipoChamado, ViewBag.Chamados as SelectList, new { @class = "chosen-select form-control" })

        </div>
    </div>
</div>

    <div>
        <h4>Seu equipamento se encontra ligado em uma tomada de energia?</h4>
        <h4>
            Sim&ensp;<input type="radio" name="Alt1" />&emsp;
            Não&ensp;<input type="radio" name="Alt1" />
        </h4>
    </div>
    <br />


    <div id="div1">
        <h4>Seu equipamento não liga? Tente retirar da tomada, espere alguns segundo e coloque novamente.</h4>
        <h4>
            Sim&ensp;<input type="radio" name="Alt2" />&emsp;
            Não&ensp;<input type="radio" name="Alt2" />
        </h4>
    </div>
    <br />

    <div id="div1">
        <h4>Seu sistema operacional está sendo iniciado?</h4>
        <h4>
            Sim&ensp;<input type="radio" name="Alt3" />&emsp;
            Não&ensp;<input type="radio" name="Alt3" />
        </h4>
    </div>
    <br />

    <div id="div1">
        <h4>Seu equipamento acende as luzes ao iniciar?</h4>
        <h4>
            Sim&ensp;<input type="radio" name="Alt4" />&emsp;
            Não&ensp;<input type="radio" name="Alt4" />
        </h4>
    </div>
    <br />

    <div>
        <h3>Resolveu seu problema?</h3>
        <div class="form-group row">
            <div class="col-md-1">
                <p><a href="~/Home/Sair" class="btn btn-primary">Sim </a></p>
            </div>
            <div class="col-md-1">
                <p><a href="~/Windows/Pre_Chamado" class="btn btn-primary btn-info">Não &raquo;</a></p>
            </div>
        </div>
        <br />
    </div>

